.ImgSection {
    background-image: url('./../../images/1.jpeg');
    height: 73vh;
    // width: 200px;
    background-repeat: no-repeat;
    max-width: 100%;
    // width: 100%;
    background-size: contain ;
    background-size: 810px 640px;  
}

.PackageText{
    margin-top: 85px;
    padding-left: 40px;
    p{
        line-height: 1.7rem;
    }
}
.PackageHeader {
    margin-bottom: 20px;
}
.PackageLists {
    .PackageList {
        font-size: 1.2rem;
    margin-left: 30px;
    line-height: 40px;
    }
}
.Section-3 {
    p{
        margin-bottom: 20px;
    }
}

