.AboutContainer {
    h2 {
        font-size: 3rem;
    }
    // padding: 0px 120px;

   
}

.AboutInfo {
    .AboutDesc {
        float: left;
        width: 45%;
        padding-left: 30px;
        margin-right: 80px;
        padding-right: 150px;
        div{
            margin-top: 50px;

            p{
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    &::after{
        display: block;
        content: '';
        clear: both;
    }
    .AboutImage{
        float: left;
        width: 48%;
        background-image: url('./../../images/sw.jpeg');
        height: 90vh;
        // width: 200px;
        background-repeat: no-repeat;
        max-width: 100%;
        // width: 100%;
        background-size:790px 1275px ;        
    }
}