.MainContent{
    margin-bottom: 100px;
}

.HeroImgContainer{
    padding: 0;
    height: 450px;
}
.HeroImg {
    background-image: url('./../../images/img_hero.jpg');
    height: 450px;
    // width: 1200px;
    background-repeat: none;
    max-width: 100%;
    width: 100%;
    background-size: cover ;
    position: absolute;
    h2{
        font-size: 4rem;
        font-size: 4rem;
        /* text-align: center; */
        width: 50%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .ImgContainer {
        text-align: center;
        position: relative;
        top: 133px;
        img{
            margin-right: 40px;
        }
    }


}

.ParentCarousel{
    width: 800px;
    margin: 0px 48%;
}