.MainContent{
    margin-bottom: 100px;
}

.HeroImgContainer{
    padding: 0;
    height: 600px;
}
.HeroImg {
    background-image: url('./../../images/heroimg.jpg');
    height: 600px;
    // width: 1200px;
    background-repeat: none;
    max-width: 100%;
    width: 100%;
    background-size: cover ;
    position: absolute;
    h2{
        font-size: 4rem;
        font-size: 4rem;
        /* text-align: center; */
        width: 50%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .ImgContainer {
        // display: none;
        text-align: center;
        position: relative;
        top: 485px;
        img{
            margin-right: 40px;
        }
    }


}
.Headline {
    text-align: center;
    padding: 0 30%;
    margin-top: 120px;

}

.ParentCarousel{
    width: 800px;
    margin: 0px 25%;
}