h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.Navbar {
    background-color: #000;
    .NavChild {
        color: #fff;
        padding-left: 10px;
    }
    .NavItem{
        display: inline-block;
        margin-right: 40px;
    }
    .NavItems{
        font-size: 1.2rem;
        margin: 0 150px;
    }
}

.MainFooter{
    background-color: #4F4D53;
    height: 150px;
    h3 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
    }
}